<div class="flex flex-col h-full w-full">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button id="open-modal" (click)="back()">
          <mat-icon style="color: var(--bs-gray-600)" slot="icon-only">arrow_back</mat-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{ clienteSeleccionado?.customer_name }}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="catalogoArticulos()">
          <mat-icon
            class="material-symbols-rounded"
            style="color: var(--bs-gray-600)"
            slot="icon-only"
            >storefront</mat-icon
          >
        </ion-button>
        <ion-button (click)="irCarritoCompras()">
          <mat-icon
            class="material-symbols-rounded"
            style="color: var(--bs-gray-600)"
            slot="icon-only"
            >shopping_cart</mat-icon
          >
        </ion-button>
        <div class="badge">{{ carritoCount | async }}</div>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-no-padding">
    <div class="flex flex-col w-full h-full p-[0.75rem]">
      <div class="flex flex-col gap-[1.25rem] pb-2">
        <mat-card
          appearance="raised"
          class="flex justify-center flex-row content-center gap-[0.75rem] p-[0.75rem]">
          <div class="image-customer">
            <img
              [src]="clienteSeleccionado?.customer_image"
              [alt]="'image ' + clienteSeleccionado?.customer_name" />
          </div>
          <div class="content-customer">
            <div class="item-customer">
              <mat-icon class="material-symbols-rounded">id_card</mat-icon>
              <span [innerHTML]="clienteSeleccionado?.identification"></span>
            </div>
            <div class="item-customer">
              <mat-icon class="material-symbols-rounded">distance</mat-icon>
              <span [innerHTML]="clienteSeleccionado?.addressString"></span>
            </div>

            <div class="item-customer">
              <mat-icon class="material-symbols-rounded">call</mat-icon>
              <span [innerHTML]="clienteSeleccionado?.phone"></span>
            </div>
          </div>
        </mat-card>
        <div>
          <button type="button" class="btn btn-dark-primary" (click)="navegarAVideoDetalle()">
            {{ 'DETALLE-CLIENTE.BUTTON.CLIENT_VIDEOS' | translate }}
          </button>
        </div>
        <div class="order-title">
          <mat-icon class="material-symbols-rounded">quick_reorder</mat-icon>
          <span>{{ 'DETALLE-CLIENTE.CLIENT_ORDERS' | translate }}</span>
        </div>
      </div>
      <div class="flex flex-col flex-grow h-full overflow-auto gap-[0.75rem]">
        @for (pedido of pedidosCliente; track pedido.id) {
          <mat-card appearance="raised" class="card-content">
            <div class="header-card">
              <span>{{ 'DETALLE-CLIENTE.ARTICLES' | translate }} {{ pedido.items.length }}</span>
              <span>{{ pedido.date | localDate }}</span>
            </div>
            <div class="content-card">
              <div>
                <span class="text-sm font-bold text-gray-400">&nbsp;{{ pedido.status }}</span>
              </div>
              <div>
                <button
                  type="button"
                  class="btn btn-dark-primary"
                  (click)="navegarADetallePedido(pedido.id)">
                  {{ 'DETALLE-CLIENTE.BUTTON.ORDER_DETAIL' | translate }}
                </button>
              </div>
            </div>
          </mat-card>
        }
      </div>
    </div>
  </ion-content>
</div>
