.image-customer {
  display: flex;
  align-items: center;

  img {
    width: 80px;
    height: 80px;
    border-radius: 0.375rem;
  }
}

.content-customer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  .item-customer {
    display: flex;
    font-size: 0.75rem;
    font-weight: normal;
    gap: 0.5rem;
    align-items: center;

    .mat-icon {
      font-size: 0.875rem;
      width: 0.875rem;
      height: 0.875rem;
    }
  }
}

.order-title {
  display: flex;
  gap: 0.25rem;
  font-size: 14px;
  align-items: center;
  .mat-icon {
    font-size: 0.875rem;
    width: 0.875rem;
    height: 0.875rem;
  }
}
