.modal-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    font-weight: bold;
  }
}

.btn-actions {
  padding: 6px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.0625rem;
  mat-icon {
    font-size: 22px;
    width: 22px;
    height: 22px;
  }
}
