<div class="modal-container">
  <div class="modal-header">
    <span>{{ 'VISITAS.CREAR_VISITA.TITLE' | translate }}</span>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="closeModal.emit(false)"></button>
  </div>
  <div>
    <form
      [formGroup]="visitaForm"
      (ngSubmit)="crearVisita()"
      class="flex flex-col w-full gap-[0.25rem]">
      <div class="w-full min-h-[3.9375rem]">
        <input
          id="cliente-selector-input"
          type="text"
          class="form-control"
          formControlName="client"
          placeholder="{{ 'VISITAS.CREAR_VISITA.FORM.CLIENT' | translate }}"
          [ngbTypeahead]="searchClientes"
          [inputFormatter]="formatter"
          [resultFormatter]="formatter"
          [selectOnExact]="true"
          [ngClass]="{ 'is-invalid': isInvalid('client') }"
          [editable]="false" />
        <div class="invalid-feedback">
          {{ getErrorMessage('client').key | translate }}
        </div>
      </div>

      <div class="w-full min-h-[6.9375rem]">
        <textarea
          class="form-control"
          id="description"
          formControlName="description"
          rows="3"
          placeholder="{{ 'VISITAS.CREAR_VISITA.FORM.DESCRIPCION_VISITA' | translate }}"
          [ngClass]="{ 'is-invalid': isInvalid('description') }"></textarea>
        <div class="invalid-feedback">
          {{ getErrorMessage('description').key | translate }}
        </div>
      </div>

      <div class="w-full min-h-[3.9375rem]">
        <div class="input-group">
          <button
            class="btn btn-outline-secondary input-group-text"
            type="button"
            id="button-addon1"
            (click)="inputFile.click()">
            {{ 'VISITAS.CREAR_VISITA.FORM.IMAGES_UPLOAD' | translate }}
          </button>
          <input
            type="file"
            class="hidden"
            #inputFile
            (change)="onFileSelected($event)"
            accept="image/*"
            multiple />

          <input
            (click)="inputFile.click()"
            class="form-control cursor-pointer"
            type="text"
            id="images_text"
            name="images_text"
            [ngClass]="{ 'is-invalid': isInvalid('images_text') }"
            readonly
            placeholder="{{ 'VISITAS.CREAR_VISITA.FORM.NOT_IMAGES' | translate }}"
            formControlName="images_text" />
          <div class="invalid-feedback">
            {{ getErrorMessage('images_text').key | translate }}
          </div>
        </div>
      </div>

      <div class="w-full flex gap-[0.50rem] justify-end">
        <button
          type="button"
          class="btn btn btn-outline-secondary"
          (click)="closeModal.emit(false)">
          {{ 'VISITAS.CREAR_VISITA.BUTTON.CANCEL' | translate }}
        </button>

        <button type="submit" class="btn btn btn-outline-primary" [disabled]="!visitaForm.valid">
          {{ 'VISITAS.CREAR_VISITA.BUTTON.SAVE' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
