.contenedor-total {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  padding: 1rem;
  background-color: var(--primary-100);
  box-sizing: border-box;
}

.modal-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    font-weight: bold;
  }
}

ion-modal#modal-confirm {
  --height: auto;
  --width: 85%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal#modal-confirm::part(backdrop) {
  background: rgba(0, 0, 0);
  opacity: 1;
}
