<div class="flex flex-col h-full w-full">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button id="open-modal" (click)="back()">
          <mat-icon style="color: var(--bs-gray-600)" slot="icon-only">arrow_back</mat-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{ 'DETALLE_PEDIDO.TITLE' | translate }}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="agregarVideo()">
          <mat-icon
            class="material-symbols-rounded"
            style="color: var(--bs-gray-600)"
            slot="icon-only"
            >add</mat-icon
          >
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-no-padding">
    <div class="flex flex-col w-full h-full p-[0.75rem] gap-4"></div>
  </ion-content>
</div>
