<div class="flex flex-col h-full w-full">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button id="open-modal" (click)="back()">
          <mat-icon style="color: var(--bs-gray-600)" slot="icon-only">arrow_back</mat-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{ 'DETALLE_PEDIDO.TITLE' | translate }}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="agregarVideo()">
          <mat-icon
            class="material-symbols-rounded"
            style="color: var(--bs-gray-600)"
            slot="icon-only"
            >add</mat-icon
          >
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-no-padding">
    <div class="flex flex-col w-full h-full p-[12px] gap-4">
      <!-- Contenedor de cámara simple -->
      <div id="camera-preview-container" class="camera-container" *ngIf="isPreviewActive"></div>

      <!-- CONTROLES SUPERPUESTOS PARA LA CÁMARA -->
      <div *ngIf="isPreviewActive">
        <div class="camera-buttons">
          <!-- Botón para cambiar de cámara -->

          <div>
            <ion-button fill="clear" shape="round" size="default" (click)="switchCamera()">
              <mat-icon class="material-symbols-rounded">cameraswitch</mat-icon>
            </ion-button>
          </div>

          <div>
            <ion-button
              (click)="isRecording ? stopRecording() : startRecording()"
              fill="clear"
              shape="round"
              size="large"
              color="danger"
              class="button-record">
              <mat-icon class="material-symbols-rounded">{{
                isRecording ? 'radio_button_checked' : 'radio_button_unchecked'
              }}</mat-icon>
            </ion-button>
          </div>

          <!-- Botón para alternar el flash -->
          <div>
            <ion-button fill="clear" shape="round" size="default" (click)="toggleFlash()">
              <mat-icon class="material-symbols-rounded">{{
                flashOn ? 'flash_on' : 'flash_off'
              }}</mat-icon>
            </ion-button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</div>
