<div class="flex flex-col h-full w-full">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button id="open-modal" (click)="close()">
          <mat-icon style="color: var(--bs-gray-600)" slot="icon-only">arrow_back</mat-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{ 'RUTAS.DETALLE_RUTA.TITLE' | translate }} 20/02/2025</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-no-padding">
    <div class="map-container">
      <google-map
        *ngIf="apiLoaded"
        [center]="center"
        [zoom]="zoom"
        [options]="mapOptions"
        height="100%"
        width="100%"
        (mapInitialized)="onMapInitialized($event)">
        <!-- Renderizador de direcciones para mostrar ruta real -->
        <map-directions-renderer
          *ngIf="directionsResults"
          [directions]="directionsResults"
          [options]="directionsOptions">
        </map-directions-renderer>
      </google-map>
    </div>
  </ion-content>
</div>
