<ion-tabs>
  <ion-tab-bar slot="bottom" class="pb-[0.5rem]">
    <ion-tab-button tab="clientes" routerLink="/home/clientes" routerDirection="root">
      <mat-icon>diversity_3</mat-icon>
      <ion-label>Clientes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="visitas" routerLink="/home/visitas" routerDirection="root">
      <mat-icon>where_to_vote</mat-icon>
      <ion-label>Visitas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="rutas" routerLink="/home/rutas" routerDirection="root">
      <mat-icon>fork_left</mat-icon>
      <ion-label>Rutas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
